# Python
__pycahche__/
*.py[cod]
.venv/
*.egg-info/

# Data and model artifacts (too large / regenerateable )
data/*.txt
data/*.csv
models/*.joblib

#Keep the placeholders
!data/.gitkeep
!models/.gitkeep

# OS / editor
.DS_Store
.vscode/